/* ===== fonts ===== */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@700&family=Encode+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* ===== page ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* ===== intro text ===== */
.text {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 30vh;
}

h1 {
  font-family: 'Aleo', sans-serif;
  letter-spacing: 2px;
  border-bottom: 4px solid white;
  font-size: 6rem;
  z-index: 1;
}

.text h2 {
  z-index: 1;
  font-size: 2.5rem;
  padding-top: 20px;
}

/* ===== background video ===== */
.opening-sec {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 2px solid rgb(187, 187, 187);
}

#bg-vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.541);
    position: absolute;
}

/* ===== nav bar ===== */
#navbar {
  min-height: 110px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: rgb(43, 43, 43);
  box-shadow: 0 0 10px rgb(43, 43, 43);
  transition: 0.5s linear;
  font-family: 'Nanum Gothic', sans-serif;
}

#navbar li {
  font-size: 1.8rem;
  padding: 35px 60px;
  border-radius: 5px;
  transition: 0.5s linear;
}

#navbar li:hover {
  background-color: rgba(95, 95, 95, 0.438);
  transition: 0.5s linear;
}

#navbar a {
  color: white;
  transition: 0.5s linear;
  padding: 35px 60px;
  border-radius: 5px;
}

#navbar a:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.63);
  transition: 0.5s linear;
}

/* ===== recipes containers ===== */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgb(75, 75, 75);
}

.recipes {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recipe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* ===== recipe text ===== */
.recipe-style {
  font-family: 'Courgette', sans-serif;
  font-size: 2.4rem;
}

.recipe-origin-style {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1.8rem;
  color: rgb(201, 201, 201);
}

/* ===== RECIPE 1 ===== */
.image-container-left1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url('https://64.media.tumblr.com/tumblr_ly2zr3nIev1r6xu90o1_500.jpg');
  background-size: cover;
  transition: ease-in-out 0.3s;
  z-index: 2;
}
.image-container-left1:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: inherit;
  background-position: bottom;
  filter: blur(40px) saturate(0%);
  transform: scaleX(0.4);
  transition: ease-in-out 0.4s;
  border-radius: 120px;
  transform-origin: right;
  opacity: 0;
  z-index: -1;
}
.image-container-left1 .info-container-left {
  position: relative;
  line-height: 1.8;
  transition: ease-in-out 0.3s;
  opacity: 0;
}
.image-container-left1 .container-left {
  transition-delay: 0.15s;
}
.image-container-left1:hover {
  border-radius: 0;
  width: 450px;
  height: 310px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(9, 55, 53, 0.2), 0px 16px 24px rgba(9, 55, 53, 0.2), 0px 24px 32px rgba(9, 55, 53, 0.2);
}
.image-container-left1:hover:before {
  width: 100%;
  opacity: 0.18;
  filter: blur(6px) saturate(100%);
  transform: scale(2.8) translate3d(0%, 0px, 0px);
}
.image-container-left1:hover .info-container-left {
  transform: translate3d(105%, 0px, 0px);
  opacity: 1;
}
.link-left1 {
  border-bottom: 1px solid transparent;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: ease-in 0.13s;
}

.link-left1::before,
.link-left1::after {
  content: '';
  width: 36%;
  position: absolute;
}

.link-left1::before {
  bottom: 10px;
  background-color: rgb(255, 255, 255);
  height: 4px;
  transform: scaleX(0);
  transform-origin: 50% 0;
  transition: transform 0.5s ease-in-out;
}

.link-left1:hover::before {
  transform-origin: 50% 0;
  transform: scaleX(1);
}

/* ===== RECIPE 2 ===== */
.image-container-left2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url('https://64.media.tumblr.com/tumblr_lyxm6dwXLk1r6xu90o1_r1_500.png');
  background-size: cover;
  transition: ease-in-out 0.3s;
  z-index: 2;
}
.image-container-left2:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: inherit;
  background-position: bottom;
  filter: blur(40px) saturate(0%);
  transform: scaleX(0.4);
  transition: ease-in-out 0.4s;
  border-radius: 120px;
  transform-origin: right;
  opacity: 0;
  z-index: -1;
}
.image-container-left2 .info-container-right {
  position: relative;
  line-height: 1.8;
  transition: ease-in-out 0.3s;
  opacity: 0;
}
.image-container-left2 .container-right {
  transition-delay: 0.15s;
}
.image-container-left2:hover {
  border-radius: 0;
  width: 450px;
  height: 310px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
}
.image-container-left2:hover:before {
  width: 100%;
  opacity: 0.18;
  filter: blur(6px) saturate(100%);
  transform: scale(2.8) translate3d(0%, 0px, 0px);
}
.image-container-left2:hover .info-container-right {
  transform: translate3d(105%, 0px, 0px);
  opacity: 1;
}
.link-left2 {
  border-bottom: 1px solid transparent;
  color: rgb(218, 77, 22);
  text-decoration: none;
  transition: ease-in 0.13s;
}

.link-left2::before,
.link-left2::after {
  content: '';
  width: 31%;
  position: absolute;
}

.link-left2::before {
  bottom: 10px;
  background-color: rgb(218, 77, 22);
  height: 4px;
  transform: scaleX(0);
  transform-origin: 50% 0;
  transition: transform 0.5s ease-in-out;
}

.link-left2:hover::before {
  transform-origin: 50% 0;
  transform: scaleX(1);
}

/* ===== RECIPE 3 ===== */
.image-container-left3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url('https://thesmartlocal.com/japan/wp-content/uploads/2020/05/japanese-anime-recpies-15.jpg');
  background-size: cover;
  transition: ease-in-out 0.3s;
  z-index: 2;
}
.image-container-left3:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: inherit;
  background-position: bottom;
  filter: blur(40px) saturate(0%);
  transform: scaleX(0.4);
  transition: ease-in-out 0.4s;
  border-radius: 120px;
  transform-origin: right;
  opacity: 0;
  z-index: -1;
}
.image-container-left3 .info-container-left {
  position: relative;
  line-height: 1.8;
  transition: ease-in-out 0.3s;
  opacity: 0;
}
.image-container-left3 .container-left {
  transition-delay: 0.15s;
}
.image-container-left3:hover {
  border-radius: 0;
  width: 450px;
  height: 310px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
}
.image-container-left3:hover:before {
  width: 100%;
  opacity: 0.18;
  filter: blur(6px) saturate(100%);
  transform: scale(2.8) translate3d(0%, 0px, 0px);
}
.image-container-left3:hover .info-container-left {
  transform: translate3d(105%, 0px, 0px);
  opacity: 1;
}
.link-left3 {
  border-bottom: 1px solid transparent;
  color: rgb(187, 184, 32);
  text-decoration: none;
  transition: ease-in 0.13s;
}

.link-left3::before,
.link-left3::after {
  content: '';
  width: 54.5%;
  position: absolute;
}

.link-left3::before {
  bottom: 10px;
  background-color: rgb(187, 184, 32);
  height: 4px;
  transform: scaleX(0);
  transform-origin: 50% 0;
  transition: transform 0.5s ease-in-out;
}

.link-left3:hover::before {
  transform-origin: 50% 0;
  transform: scaleX(1);
}